<!doctype html>
<html lang="zh-Hant-TW">
<head>
<meta charset="utf-8">
<link href="../style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<nav  class= "navbar">
		
            <ul>
                <li><a href="index.html">首頁</a></li>
                <li><a href="about.html">公司介紹</a></li>
                <li><a href="product.html">產品介紹</a></li>
                <li><a href="order.html">餐點訂購</a></li>
                <li><a href="contact.html">聯繫我們</a></li>
				<li><a href="feedback.html">回饋</a></li>
            </ul>
		
        </nav>
</body>
</html>